.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .wrapper .icon {
    color: #c56f6f;
    margin-left: 3px;
    visibility: hidden;
  }
  .wrapper .icon.visible {
    visibility: visible;
  }